// Color
:root {
  --color-bg: #d8dfbd;
  --color-light: #119da4;
  --color-main: #13505b;
  --color-white: #ccc;
  --color-white-light: #ccc2c2;
  --color-black: #292525;
  --color-type: #3c4859;
  --color-post-main: #4c4e4d;
  --color-post-mark: #ff0;
  --plyr-color-main: #119da4;
}

// #6C7643 929C66 D8DFBD D8DFBD
