// Color
:root {
  --color-bg: #788776;
  --color-light: #119da4;
  --color-main: #13505b;
  --color-white: #ccc;
  --color-white-light: #fff;
  --color-black: #292525;
  --color-type: #3c4859;
  --color-post-main: #4c4e4d;
  --color-post-mark: #ff0;
  --plyr-color-main: #119da4;
}

// #aaa69d
// #f7f1e3
//#d1ccc0
// #84817a
// #706fd3
// #40407a
// #2c2c54
// #474787
// background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
// #788776
// #233522
// #4E744A
//#C9CCC8
