<% if (is_post() && page.layout !== 'tweet'){ %>
<div class="widget-wrap">
  <div class="widget-inner">
    <div class="toc post-toc-html">
      <%- toc(page.content, { list_number: false }) %>
    </div>
  </div>
</div>
<% } %>
