<footer class="footer">
  <!-- Please do not remove this -->
  <!-- 开源不易，请勿删除 -->
  <div class="footer-wrap">
    <div class="footer-inner">
      <%= config.title %> &copy; <%= date(new Date(), 'YYYY') %><br />
      Powered By Hexo · Theme By
      <a href="#" target="_blank">Foxfish</a>
    </div>
  </div>
</footer>
