<div class="container-header">
  <header class="header">
    <div class="header-type">
      <div class="header-type-inner"><%= config.title %></div>
    </div>

    <div class="header-menu">
      <div class="header-menu-inner">
        <% for (let i in config.foxfish_menu){ %>
        <a href="<%- url_for(config.foxfish_menu[i]) %>"><%= i %></a>
        <% } %>
      </div>
    </div>
  </header>
  <% console.log(config); %>
</div>
